body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#007BFF;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-container{
    background:white;
    padding:30px;
    width:350px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

h2{
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    box-sizing:border-box;
}

.buttons{
    display:flex;
    justify-content:space-between;
}

button{
    width:48%;
    padding:10px;
    cursor:pointer;
}

#message{
    text-align:center;
    margin-top:15px;
    font-weight:bold;
}